.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(13, 159, 231);
  color: whitesmoke
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} 

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: Cambria, Georgia, serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}